{% extends 'shop/main.html' %}
{% block head %}
<style>
#total-orders{
    background-color: #4cb4c7;
}
#orders-delivered{
    background-color: #7abecc;
}
#orders-pending{
    background-color: #7CD1C0;
}
</style>
{% endblock %}

{% block main %}
{% include 'status.html' %} <br>

<div class="row">
    <div class="col-md-12">
        <h5>LAST {{ pending }} ORDERS</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm paginated">
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Tracking ID</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                
                <tr> 
                    <td>#{{ order.id }}</td>
                    <td>#{{ order.transaction_id }}</td>
                    <td>{{ order.date_added }}</td>
                    <td>{{ order.status }}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'store:update_order' order.id %}">Update</a></td>
                    
                </tr> 
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}
