{% extends request.user.is_staff|yesno:"shop/main.html,main.html" %}
{% load static %}
{% block main %}

<br>
<section>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Are you sure you want to delete "{{ item }}"?</p>
            <form action="{% url 'store:delete_order' item.id %}" method="POST">
                {% csrf_token %}
                <a class="btn1 btn-warning" href="{% url 'store:home' %}">Cancel</a>
                <input type="submit" name="Confirm" class="btn1 btn-danger">
            </form>         
        </div>
    </div>
</div>
</section>
{% endblock %}