{% extends 'main.html' %}

{% block main %}

<br>
<section>
    <div class="row">
        <div class="col-md-12">
          <p>Product added in last 7 days: </p>
          <div class="product_week" style="height: 50px; overflow: auto;">
            {% for i in product_week %}
            <a href="{% url 'store:product_view' i.id %}" class="btn1 btn-outline-info" style="margin-top: 5px;">{{i.name}}</a>
            {% endfor %}
          </div><br>
          <p>Top Reviewed Product: </p>
          <div class="top_reviewed" style="height: 50px; overflow: auto;">
            {% for i in top_reviewed %}
            {% if i.rate >= 3 %}
            <a href="{% url 'store:product_view' i.id %}" class="btn1 btn-outline-info" style="margin-top: 5px;"><strong>{{i.name}}</strong>: {{i.rate|floatformat:1}}&#9733;</a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        
    
    </div>
</section>


<section class="products" id="products">
    
    {% for i in categorys %}
    {% if i.products %}
    <a href="/{{i.products.c_for}}/{{i.id}}"><h1 class="heading">  <span> {{i.name}}</span> </h1></a>

<div class="swiper-container product-slider gap">
    <div class="swiper-wrapper" id="live-filter">
        {% for j in i.products %}
        <div class="swiper-slide">
            <div class="slide">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-search"></a>
                    <a href="{% url 'store:product_view' j.id %}" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    {% for k in j.images %}
                        <img src="{{ k.img.url }}" alt="">
                    {% endfor %}
                </div>
                <div class="content">
                    <div class="stars">
                        {% if j.rate <= 0 %}
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif j.rate <= 1 %}
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif j.rate <= 2 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif j.rate <= 3 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif j.rate <= 4 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        {% else %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        {% endif %}
                        <span>( {% if j.total_review == 0 %} Not reviewed yet {% else %} {{j.total_review}} reviews {% endif %} )</span>
                    </div>
                    <h3>{{j.name}}</h3>
                    <div class="price">&#2547;{{j.price|floatformat:2}}</div>
                    {% if j.stock <= 0 %}
                    <button class="btn1 btn-outline-danger btn-disabled">Add to Cart</button>
                    {% else %}
                    <button data-product={{j.id}} data-action="add" class="btn1 update-cart">Add to Cart</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endfor %}
</section>

{% endblock %}