{% extends 'main.html' %}

{% block main %}
<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <span>special offer</span>
        <h3>sale upto 50% off</h3>
        <a href="#" class="btn">shop now</a>
    </div>

    <div class="image">
        <img src="images/home-img.png" alt="">
    </div>

</section>

<!-- home section ends -->

<!-- category section starts  -->

<section class="category">

    <h1 class="heading"> shop by <span>category</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/cat-1.jpg" alt="">
            <div class="content">
                <span>upto 50% off</span>
                <h3>for womans</h3>
                <a href="/category/woman" class="btn">shop now</a>
            </div>
        </div>

        <div class="box">
            <img src="images/cat-2.jpg" alt="">
            <div class="content">
                <span>upto 50% off</span>
                <h3>for mans</h3>
                <a href="/category/man" class="btn">shop now</a>
            </div>
        </div>
        
    </div>

</section>

<!-- category section ends -->

<!-- products section starts  -->

<section class="products" id="products">

    <h1 class="heading"> latest <span>products</span> </h1>

<div class="swiper-container product-slider gap">
    <div class="swiper-wrapper">
        {% for i in latest_products %}
        <div class="swiper-slide">
            <div class="slide">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-search"></a>
                    <a href="{% url 'product_view' i.id %}" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    {% for j in i.images %}
                        <img src="{{ j.img.url }}" alt="">
                    {% endfor %}
                </div>
                <div class="content">
                    <div class="stars">
                        {% if i.rate <= 0 %}
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif i.rate <= 1 %}
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif i.rate <= 2 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif i.rate <= 3 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif i.rate <= 4 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        {% else %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        {% endif %}
                        <span>( {% if i.total_review == 0 %} Not reviewed yet {% else %} {{i.total_review}} reviews {% endif %} )</span>
                    </div>
                    <h3>{{i.name}}</h3>
                    <div class="price">&#2547;{{i.price}} {% if i.discount > 0 %} <span>&#2547;{{ i.demo_price }}</span> {% endif %} </div>
                    {% if i.stock <= 0 %}
                    <button class="btn btn-outline-danger btn-disabled">Add to Cart</button>
                    {% else %}
                    <button data-product={{i.id}} data-action="add" class="btn update-cart">add to cart</button>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<div class="swiper-container product-slider gap">
    <div class="swiper-wrapper">
        {% for j in after_latest %}
        <div class="swiper-slide">
            <div class="slide">
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    {% for i in j.images %}
                        <img src="{{ i.img.url }}" alt="">
                    {% endfor %}
                </div>
                <div class="content">
                    <div class="stars">
                        {% if j.rate <= 0 %}
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif j.rate <= 1 %}
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif j.rate <= 2 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif j.rate <= 3 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif j.rate <= 4 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        {% else %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        {% endif %}
                        <span>( {% if j.total_review == 0 %} Not reviewed yet {% else %} {{j.total_review}} reviews {% endif %} )</span>
                    </div>
                    <h3>{{j.name}}</h3>
                    <div class="price">&#2547;{{j.price}} {% if j.discount > 0 %} <span>&#2547;{{ j.demo_price }}</span> {% endif %} </div>
                    {% if j.stock <= 0 %}
                    <button class="btn btn-outline-danger btn-disabled">Add to Cart</button>
                    {% else %}
                    <button data-product={{j.id}} data-action="add" class="btn update-cart">add to cart</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
       
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

</section>

<!-- products section ends -->

<!-- featured section starts  -->

<section class="featured" id="featured">

    <h1 class="heading"> <span>featured</span> products </h1>

    <div class="box-container">
        {% for k in featured_products1 %}
        <div class="box">
            <div class="image-container">
                <div class="small-image">
                    {% for i in k.images %}
                    <img src="{{ i.img.url }}" class="small-image-1" alt="">
                    {% endfor %}
                </div>
                <div class="big-image">
                    {% for i in k.big_image %}
                    <img src="{{ i.img.url }}" class="big-image-1" alt="">
                    {% endfor %}
                </div>
            </div>
            <div class="content">
                <h3>man's clothing</h3>
                <div class="stars">
                    {% if k.rate <= 0 %}
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif k.rate <= 1 %}
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif k.rate <= 2 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif k.rate <= 3 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif k.rate <= 4 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        {% else %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        {% endif %}
                        <span>( {% if k.total_review == 0 %} Not reviewed yet {% else %} {{k.total_review}} reviews {% endif %} )</span>
                </div>
                <p>{{k.description}}</p>
                <div class="price">&#2547;{{k.price}} {% if k.discount > 0 %} <span>&#2547;{{ k.demo_price }}</span> {% endif %} </div>
                {% if k.stock <= 0 %}
                <button class="btn btn-outline-danger btn-disabled">Add to Cart</button>
                {% else %}
                <button data-product={{k.id}} data-action="add" class="btn update-cart">add to cart</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% for k in featured_products2 %}
        <div class="box">
            <div class="image-container">
                <div class="small-image">
                    {% for i in k.images %}
                    <img src="{{ i.img.url }}" class="small-image-2" alt="">
                    {% endfor %}
                </div>
                <div class="big-image">
                    {% for i in k.big_image %}
                    <img src="{{ i.img.url }}" class="big-image-2" alt="">
                    {% endfor %}
                </div>
            </div>
            <div class="content">
                <h3>man's clothing</h3>
                <div class="stars">
                    {% if k.rate <= 0 %}
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif k.rate <= 1 %}
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif k.rate <= 2 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif k.rate <= 3 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif k.rate <= 4 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        {% else %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        {% endif %}
                        <span>( {% if k.total_review == 0 %} Not reviewed yet {% else %} {{k.total_review}} reviews {% endif %} )</span>
                </div>
                <p>{{k.description}}</p>
                <div class="price">&#2547;{{k.price}} {% if k.discount > 0 %} <span>&#2547;{{ k.demo_price }}</span> {% endif %} </div>
                {% if k.stock <= 0 %}
                <button class="btn btn-outline-danger btn-disabled">Add to Cart</button>
                {% else %}
                <button data-product={{k.id}} data-action="add" class="btn update-cart">add to cart</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        
        {% for k in featured_products3 %}
        <div class="box">
            <div class="image-container">
                <div class="small-image">
                    {% for i in k.images %}
                    <img src="{{ i.img.url }}" class="small-image-3" alt="">
                    {% endfor %}
                </div>
                <div class="big-image">
                    {% for i in k.big_image %}
                    <img src="{{ i.img.url }}" class="big-image-3" alt="">
                    {% endfor %}
                </div>
            </div>
            <div class="content">
                <h3>{{k.name}}</h3>
                <div class="stars">
                    {% if k.rate <= 0 %}
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif k.rate <= 1 %}
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif k.rate <= 2 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif k.rate <= 3 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif k.rate <= 4 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        {% else %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        {% endif %}
                        <span>( {% if k.total_review == 0 %} Not reviewed yet {% else %} {{k.total_review}} reviews {% endif %} )</span>
                </div>
                <p>{{k.description}}</p>
                <div class="price">&#2547;{{k.price}} {% if k.discount > 0 %} <span>&#2547;{{ k.demo_price }}</span> {% endif %} </div>
                {% if k.stock <= 0 %}
                <button class="btn btn-outline-danger btn-disabled">Add to Cart</button>
                {% else %}
                <button data-product={{k.id}} data-action="add" class="btn update-cart">add to cart</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

</section>

<!-- featured section ends -->

<!-- deal section starts  -->

<section class="deal" id="deal">

    <h1 class="heading"> special <span>deal</span> </h1>

    <div class="row">

        <div class="content">
            <span class="discount">upto 50% off</span>
            <h3 class="text">deal of the day</h3>
            <div class="count-down">
                <div class="box">
                    <h3 id="days">00</h3>
                    <span>days</span>
                </div>
                <div class="box">
                    <h3 id="hours">00</h3>
                    <span>hours</span>
                </div>
                <div class="box">
                    <h3 id="minutes">00</h3>
                    <span>minutes</span>
                </div>
                <div class="box">
                    <h3 id="seconds">00</h3>
                    <span>seconds</span>
                </div>
            </div>
            <a href="#" class="btn">shop now</a>
        </div>

        <div class="image">
            <img src="images/counter-img.png" alt="">
        </div>

    </div>

</section>

<!-- deal section ends -->

<!-- review section starts  -->
{% if total_reviews > 0 %}
<section class="review" id="review">

    <h1 class="heading"> customers <span>review</span> </h1>

<div class="swiper-container review-slider">
    <div class="swiper-wrapper">
        {% for i in reviews %}
        <div class="swiper-slide">
            <div class="slide">
                <div class="stars">
                    {% if i.rate <= 0 %}
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif i.rate <= 1 %}
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif i.rate <= 2 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif i.rate <= 3 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        {% elif i.rate <= 4 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        {% else %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        {% endif %}
                </div>
                <p>{{i.comment}}</p>
                <div class="user">
                    <img src="{{i.user.profile_pic.url}}" alt="">
                    <div class="user-info">
                        <h3>{% if i.user.user.first_name %} {{i.user.user.first_name}} {{i.user.user.last_name}}{% else %}{{i.user.user.username}}{% endif %}</h3>
                        <span>{% if i.rate >= 3.0 %} happy customer {% else %} Unsatisfied {% endif %}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>

</section>
{% endif %}

<!-- review section ends -->
{% endblock %}

