{% extends 'main.html' %}
{% load widget_tweaks %}
{% load static %}
{% block main %}
<style>
    
    .order_memo{
        border: 1px solid rgb(195 195 195);
    }
    .header h1{
        color: blue;
        font-weight: bolder;
    }
    .header .shop-address{
        font-style: italic;
    }
    .header h1,
    .header p{
        text-transform: none;
    }
    .content .order_id{
        float: left;
        display: inline-block;
    }
    .content .order_date{
        float: right;
        display: inline-block;
    }
    .order_info{
        min-height: 400px;
    }
    .order_info .table thead tr th,
    .order_info .table tr td{
        font-size: 1.2em;

    }
    .order_info .table tr td{
        border-bottom: 0px;
        border-top: 0px;
    }
    .aprroval .sign-1{
        float: left;
        display: inline-block;
    }
    .aprroval .sign-2{
        float: right;
        display: inline-block;
        margin-right: 150px;
    }
    .powered_by p{
        margin-top: 80px;
    }
</style>
<br>
<section class="view_order"> 
    <div class="order_memo">
        <div class="container-fluid"> <br>
            <div class="header text-center">
                <h1>{{ shop.user.first_name }} {{ shop.user.last_name }}</h1>
                <p class="shop-address">{{shop.address}}</p>
                <p>Mobile : +88{{shop.phone}}, E-mail : {{shop.user.email}}</p>
            </div>
            <div class="content">
                <p class="order_id">SL No. {{order.id}}</p> <p class="order_date">Date : {{order.date_added}}</p><br><br><br>
                <p>Name : {% if order.customer.user.first_name %} {{order.customer.user.first_name}} {{order.customer.user.last_name}} {% else %} {{order.customer.user.username}}{% endif %}</p>
                <p>Address : {{address.address}}, {{address.city}}, {{address.state}}</p>
            </div><br><br>
            <div class="order_info">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Description of Goods</th>
                            <th>Qty.</th>
                            <th>Rate</th>
                            <th>Taka</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in orders %}
                        <tr>
                            <td></td>
                            <td>{{i.product.name}}</td>
                            <td>{{i.quantity}}</td>
                            <td>{{i.rate}}</td>
                            <td>{{i.total}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td>Delivery fee</td>
                            <td></td>
                            <td>{{order.delivery_fee}}</td>
                            <td>{{order.delivery_fee}}</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td>Total</td>
                            <td>{{order.total}}</td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td>Advance</td>
                            <td>{{order.advance}}</td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td>Due</td>
                            <td>{{order.due}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="aprroval">
                    <p>Tk in word : </p>
                    <hr> <br>
                    <p class="sign-1">Receiver's Signature :</p>
                    <p class="sign-2">From - {{ shop.user.first_name }} {{ shop.user.last_name }} :</p>
                </div>
                <div class="powered_by text-center">
                    <p>Powered By <a href="{% url 'store' %}">ghorebahirebd.com</a></p>
                </div>
            </div>
        </div>
    </div>
    {% if request.user.is_staff %}
    <div class="update_order">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2>Update Order</h2><hr><br>
                <form action="" method="POST">
                    {% csrf_token %}
                        <p style="display: none;">{{form.product|add_class:'form-control'}}</p>
                        <p>{{form.status|add_class:'form-control'}}</p>
                        <p><input class="btn btn-primary"  type="submit" ></p>
                    <hr>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="order-manual">
        <a href="{% url 'delete_order' order.id %}" class="btn btn-danger">Delete order</a>
    </div>

</section>


{% endblock %}