{% load widget_tweaks %}
{% load static %}

<br>
<section class="view_order" id="memo"> 
    <style>
    
        .order_memo{
            border: 1px solid rgb(195 195 195);
        }
        .header h1{
            color: blue;
            font-weight: bolder;
        }
        .header .shop-address{
            font-style: italic;
        }
        .header h1,
        .header p{
            text-transform: none;
        }
        .content .order_id{
            float: left;
            display: inline-block;
        }
        .content .order_date{
            float: right;
            display: inline-block;
        }
        .order_info{
            min-height: 400px;
        }
        .order_info .table thead tr th,
        .order_info .table tr td{
            font-size: 1.2em;
    
        }
        .order_info .table tr td{
            border-bottom: 0px;
            border-top: 0px;
        }
        .aprroval .sign-1{
            float: left;
            display: inline-block;
        }
        .aprroval .sign-2{
            float: right;
            display: inline-block;
            margin-right: 150px;
        }
        .powered_by p{
            margin-top: 80px;
        }
    </style>
    <div class="order_memo" style="background-color: #fff;">
        <div class="container-fluid"> <br>
            <div class="header text-center">
                {% if request.user.is_staff %}
                <h1>{{ shop.user.first_name }} {{ shop.user.last_name }}</h1>
                <p class="shop-address">{{shop.address}}</p>
                <p>Mobile : +88{{shop.phone}}, E-mail : {{shop.user.email}}</p>
                {% else %}
                <h1>GHORE BAIRE</h1>
                <p class="shop-address">{{shop.address}}</p>
                <p>Mobile : +8801617839305, E-mail : ghorebairebd@gmail.com</p>
                {% endif %}
            </div>
            <div class="content">
                <p class="order_id">Memo No. {{order.id}}</p> <p class="order_date">Date : {{order.date_added}}</p><br><br><br>
                <p>Name : {% if order.customer.user.first_name %} {{order.customer.user.first_name}} {{order.customer.user.last_name}} {% else %} ........................................................{% endif %}</p>
                <p>Phone : {% if order.customer.phone %} +88{{order.customer.phone}} {% else %} ........................................................ {% endif %}</p>
                <p>Address :{% if address %} {{address.address}}, {{address.city}}, {{address.state}} {%else%} ........................................................{%endif%}</p>
            </div><br><br>
            <div class="order_info">
                <table class="table">
                    <thead>
                        <tr>
                            {% if request.user.is_staff %}
                            <th>No.</th>
                            {% else %}
                            <th>From.</th>
                            {% endif %}
                            <th>Description of Goods</th>
                            <th>Size</th>
                            <th>Color</th>
                            <th>Qty.</th>
                            <th>Rate</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in orders %}
                        <tr>
                            {% if request.user.is_staff %}
                            <td></td>
                            {% else %}
                            <td>{{ i.shop }}</td>
                            {% endif %}
                            <td>{{i.product.name}}</td>
                            <td>{%if i.size%} {{i.size}} {%endif%}</td>
                            <td>{%if i.color%}{{i.color}}{%endif%}</td>
                            <td>{{i.quantity}}</td>
                            <td>{{i.rate|floatformat:2}}</td>
                            <td>{{i.total|floatformat:2}}</td>
                        </tr>
                        {% endfor %}
                        {% if order.delivery_fee %}
                        <tr>
                            <td></td>
                            <td>Delivery fee</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{order.delivery_fee|floatformat:2}}</td>
                            <td>{{order.delivery_fee|floatformat:2}}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td colspan="7"></td>
                        </tr>
                        <tr>
                            <td colspan="7"></td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td>Total</td>
                            <td> {% if total  %} {{total|floatformat:2}} {% else %} {{ order.total|floatformat:2 }} {% endif %}</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td>Paid </td>
                            <td>{% if paid >= 0 %} {{paid|floatformat:2}} {% else %} {{order.advance|floatformat:2}} {% endif %}</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td>Due</td>
                            <td> {% if due %} {{due|floatformat:2}} {% else %} {{order.due|floatformat:2}} {% endif %}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="aprroval">
                    <p>In word : ........................................................</p>
                    <hr> <br>
                    <p class="sign-1">Receiver's Signature :</p>
                    <p class="sign-2">From - {{ shop.user.first_name }} {{ shop.user.last_name }} :</p>
                </div>
                <div class="powered_by text-center">
                    <p>Powered By <a href="{% url 'store:store' %}">ghorebairebd.com</a></p>
                </div>
            </div>
        </div>
    </div>
    

</section>
