<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white md-3" id="total-orders">
                <a href="{% url 'store:total-orders' %}" style="color: white !important; text-decoration:none;">
                    <div class="card-header">
                        <h5 class="card-title">Total Orders</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ total_orders }}</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white md-3" id="orders-delivered">
                <a href="/totalOrders/?status=Delivered&start_date=&end_date=&Search=Submit" style="color: white !important; text-decoration:none;">
                    <div class="card-header">
                        <h5 class="card-title">Orders Delivered</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ delivered }}</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white md-3" id="orders-pending">
                <a href="/totalOrders/?status=Pending&start_date=&end_date=&Search=Submit" style="color: white !important; text-decoration:none;">
                    <div class="card-header">
                        <h5 class="card-title">Orders Pending</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ pending }}</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>